---
layout: default
title: Matthew McGonagle's Portfolio
---

<h1> {{page . title}} </h1>

{% assign projects = site.data.portfolio %}

<table>
    {% for project in projects %}
    <tr>
    <th> {{project.project}} </th>
    <td> <table> 

         {% if project.webpage %}
         <tr>
         <td> Webpage </td>
         <td> <a href = "{{project.webpage}}">{{project.webpage}}</a> </td>
         </tr>

         <tr>
         <td colspan = "100%"; style = "border-bottom: 1px solid black"></td>
         </tr>
         {% endif %}

         {% if project.repository %}
         <tr>
         <td> Repository </td>
         <td> <a href = "{{project.repository}}">{{project.repository}} </a></td>
         </tr>
     
         <tr>
         <td colspan = "100%"; style = "border-bottom: 1px solid black"></td>
         </tr>

         <tr>
         <td> Language </td>
         <td> {{project.language}} </td>
         </tr>
    
         <tr>
         <td colspan = "100%"; style = "border-bottom: 1px solid black"></td>
         </tr>
         {% endif %}

         <tr>
         <td> Purpose </td>
         <td> {{project.purpose}} </td>
         </tr>

         <tr>
         <td colspan = "100%"; style = "border-bottom: 1px solid black"></td>
         </tr>

         <tr>
         <td> Description </td>
         <td> {{project.description}} </td>
         </tr>

         </table>
    </td>

    </tr>

    {% unless project == projects.last %}
    <tr>
    <td colspan = "100%"; style = "border-bottom: 1px solid black"></td>
    </tr>
    {% endunless %}

    {% endfor %}
</table>

