---
layout: default
title: Reading List
---

<h1> {{page . title}} </h1>

Here is a collection of reading material that I find interesting. I have made an effort to include as many
legally, freely available material as possible.

{% assign textbooks  = site.data.reading | where: "type", "textbook" %} 
{% assign programmingSurveys = site.data.reading | where: "type", "survey" | where: "subject", "programming" %}
{% assign mathSurveys = site.data.reading | where: "type", "survey" | where: "subject", "math" | sort: "subject2"%}
{% assign histories = site.data.reading | where: "subject", "history"%}

<h2> Textbooks </h2>

<ul>
    {% for reading in textbooks %}
   <li> {{reading.author}}.
   <i> {{reading.title}}</i>.
   <a href = "{{reading.url}}">{{reading.url}}</a> 
   </li>
    {% endfor %}
</ul>

<h2> Programming </h2>

<ul>
    {% for reading in programmingSurveys %}
   <li> {{reading.author}}.
   <i> {{reading.title}}</i>.
   <a href = "{{reading.url}}">{{reading.url}}</a> 
   </li>
    {% endfor %}
</ul>

<h2> Mathematical Surveys </h2>

<ul>

    {% for reading in mathSurveys %}
    <li> {{reading.author}}.
    <i> {{reading.title}}</i>.
    <a href = "{{reading.ulr}}">{{reading.url}}</a>
    </li>
    {% endfor %}
</ul>

<h2> History of Mathematics </h2>

<ul>

    {% for reading in histories %}
    <li> {{reading.author}}.
    <i> {{reading.title}}</i>.
    <a href = "{{reading.ulr}}">{{reading.url}}</a>
    </li>
    {% endfor %}
</ul>


